.cell {
    font-size: 11px;
    text-align: center;
    line-height: 26px;
    height:26px;
    width:26px;
    border-style:solid;
    border-width:2px;
    border-color:black;
    margin: 1px 1px 1px 1px;
    background-color:#000;
    color:#FFF;
    display:inline;
    float:left;
}

.row {
    clear:both;
}


#grid {
    margin:20px;
}


#totalHeatFormat {
    margin:auto;
    text-align: center;
    display:inline;
}