html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, q, form, table, caption, tbody, tfoot, thead, tr, th, td {
	margin               : 0;
	padding              : 0;
	border               : 0;
	outline              : 0;
	font-size            : 100.01%;
	vertical-align       : baseline;
	background           : transparent;
}

td, th {
	padding              : 6px;
	border               : 1px solid #ccc;
	text-align           : left;
}


body
{
	line-height          : 1.22727272;
}

ol, ul
{
	list-style           : square;
}

blockquote, q
{
	quotes               : none;
}

:focus
{
	outline              : 0;
}

table
{
	border-collapse      : collapse;
	border-spacing       : 0;
}

body
{
	width                : 85%;
	max-width            : 640px;
	margin-left          : auto;
	margin-right         : auto;
	letter-spacing       : 0px;

	background-color     : #ffffff;
	color                : #000000;

	font-family          : Verdana, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
}

a
{
	text-decoration      : underline;
	color                : #0000ff;
	font-family          : Verdana, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
}

a:link
{
	text-decoration      : underline;
	color                : #0000ff;
}

a:visited
{
	text-decoration      : underline;
	color                : #0000ff;
}

a:hover
{
	text-decoration      : underline;
	color                : #ffffff;
	background-color     : #0000ff;
}

a:active
{
	text-decoration      : underline;
	color                : #ffffff;
	background-color     : #0000ff;
}

.languagelink
{
	font-family          : Consolas, Courier, Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1em;
	letter-spacing       : 0px;
	margin-left          : auto;
	margin-right         : auto;
}

.articletitle
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 4em;
	color                : #0088d3;
}

.articletitlesecondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1em;
	color                : #404040;
}

.articlesubtitle
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 1em;
}

.articlesubtitlesecondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1em;
	color                : #404040;
}

.articleauthor
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1em;
}

.articleauthorsecondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1em;
	color                : #404040;
}




.h1primary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 2.5em;
	color                : #0088d3;
}

.h1secondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1em;
	color                : #0088d3;
}

.h2primary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 2.0em;
	color                : #0088d3;
}

.h2secondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size            : 1em;
	font-weight          : normal;
	color                : #0088d3;
}

.h3primary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : normal;
	font-size            : 1.8em;
}

.h3secondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size            : 1em;
	font-weight          : normal;
	color                : #404040;
}

.h4primary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 1.7em;
}

.h4secondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size            : 1em;
	font-weight          : bold;
	color                : #404040;
}

.h5primary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 1.6em;
}

.h5secondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size            : 1em;
	font-weight          : bold;
	color                : #404040;
}

.h6primary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-weight          : bold;
	font-size            : 1.5em;
}

.h6secondary
{
	font-family          : Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size            : 1em;
	font-weight          : bold;
	color                : #404040;
}

table {
	width                : 100%;
	border-collapse      : collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background           : #eee;
}
th {
	background           : #0088d3;
	color                : white;
	font-weight          : bold;
}
